/* this is the style document for basic portfolio project, 2019-11-18 */

html, body { /* this sets the hekight of the page to the hieigt of the viewport */
  height: 100%;
}
body {
  margin: 0;
  background-color: "lightblue";
  display: flex;
  flex-direction: column;
}
.content {
  border: 2px solid black;
  flex: 1 0 auto;
}
.footer {
  text-align: center;
  background-color: blue;
  border: 2px solid red;
  flex-shrink: 0;
}